<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Full Stack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"></link>
</head>
<body>
    <div id="react-app" style="height: 100%;"></div>
</body>
</html>
